# Retail Data Analysis & Cleaning Project
**Author:** [Duncan Chicho](https://www.linkedin.com/in/duncan-analytics/) | **Date:** 22/06/2025 | **Dataset:** UK Online Retail (541,900 + records) | 
- **Data Source link:** [Online Retail Dataset](https://archive.ics.uci.edu/dataset/352/online+retail) from UC Irvine Machine Learning Repository.

## Dataset Information
This is a transactional data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## Project Overview
This notebook demonstrates comprehensive data cleaning and preparation techniques on a real-world retail dataset. The analysis focuses on data quality assessment, systematic cleaning procedures, and feature engineering for business insights.

## üéØ Key Objectives
- Assess and clean data quality issues (duplicates, missing values, inconsistencies)
- Prepare dataset for advanced analytics and business intelligence
- Create time-based features for trend analysis
- Document professional data stewardship practices

## üîç Dataset Summary
- **Size:** 541,909 records across 8 columns
- **Time Period:** December 2010 - December 2011
- **Geographic Scope:** Primarily UK with international customers
- **Business Context:** B2C online retail transactions

In [2]:
#Install required library
import pandas as pd

In [3]:
#Load data
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\PYTHON-FILES\\EXCEL DATAS\\Online Retail data & PROJECT\\Online Retail.xlsx.csv", encoding='latin1')

====================================================================================================

## Phase 1: Data Quality Assessment

A Data overview to understand our dataset

In [5]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [44]:
df_before_cleaning = df.copy()
# Working with a copy increases data precision improves data quality, which is crucial for making informed business decisions.

1. Identifying Duplicates:

In [62]:
# This counts the number of duplicate rows in our dataframe, shows 5,268.
duplicates_count = df_before_cleaning.duplicated().sum()
print(f"Duplicate records: {duplicates_count:,} ({duplicates_count/len(df_before_cleaning)*100:.1f}%)")

Duplicate records: 5,268 (1.0%)

2. Identifying  missing values:

In [61]:
# Checking for missing values in our data:
print("Columns     no of null values\n")
print(df_before_cleaning.isna().sum())
print(f"\nTotal missing values before cleaning: {df_before_cleaning.isna().sum().sum():,} cells")

Columns     no of null values

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Total missing values before cleaning: 136,534 cells

3. Quick Data Health Check overview and Data Type Validation

In [47]:
df_before_cleaning.info()
# This provides a concise summary of the DataFrame including non-null entries for each column and their data types(dtypes)
# Note! customerID has about 135,080(541909 - 406829) Null-entries and in a wrong Dtype "float64",

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541905 entries, 0 to 541904
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541905 non-null  object
 1   StockCode    541905 non-null  object
 2   Description  540451 non-null  object
 3   Quantity     541905 non-null  int64
 4   InvoiceDate  541905 non-null  object
 5   UnitPrice    541905 non-null  float64
 6   CustomerID   406825 non-null  float64
 7   Country      541905 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

====================================================================================================


 ## PHASE 2: DATA CLEANING & PREPARATION


Objective: Systematically address data quality issues to ensure dataset integrity
for downstream analysis and business reporting.

Key Steps:
1. Remove exact duplicates (operational data redundancy)
2. Handle missing values (business impact assessment)
3. Standardize data types (analytical requirements)
4. Create time-based features (trend analysis enablement)
5. Validate customer identification format
6. Remove invalid transactions
7. Address missing country information
8. Remove administrative entries (non-product transactions)
9. Validate customer identification format
10. Ensured clean DataFrame indexing structure

In [48]:
# 1. Remove exact duplicates (operational data redundancy) by droppimg them.
df = df.drop_duplicates()

In [49]:
# 2. Handle missing values (business impact assessment) by dropping them too
df = df.dropna()

In [50]:
# 3. Standardize data types (analytical requirements)

# Converting customerID to Object(str); This is a proper data type for customerID NOT float(numbers with decimal i.e 43264.01) as before
df['CustomerID'] = df['CustomerID'].astype(str)

# All description to upper case for consistency in our data
df['Description'] = df['Description'].str.upper()

In [6]:
# 4. Create time-based features for trend analysis

# Convert InvoiceDate to datetime, this is a Standardize data types for "InvoiceDate" column
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Create Time-Based Columns (Year,Month,Day,Weekday,Hour) this will help us understand trends and patterns better in phase 3 (Exploratory Data Analysis)
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day
df['Weekday'] = df['InvoiceDate'].dt.day_name()
df['Hour'] = df['InvoiceDate'].dt.hour

In [52]:
# 5. Create TotalPrice/Revenue Column, this will help us asses the financial health of our business
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [53]:
# 6. Remove invalid transactions

# I removed/dropped Cancelled transactions (invoices starting with 'C')to ensure our data reflects the true economic reality of our businesss operation.
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

# Remove invalid transactions (negative quantities or prices)
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

In [54]:
# 7. Address missing country information
# Remember we had "Unspecified" country in our dataset, I changed that to Missing while retaining valuable transaction.
df['Country'] = df['Country'].replace('Unspecified', 'Missing')

In [74]:
# 8. Remove administrative entries (non-product transactions)

# Drop rows where StockCode is "BANK CHARGES"
df = df[df['StockCode'] != 'BANK CHARGES']

In [57]:
# 9. Validate customer identification format
df['CustomerID'] = df['CustomerID'].astype(str)

In [58]:
# 10. Ensured clean DataFrame indexing structure
df = df.reset_index(drop=True).copy()

====================================================================================================

## Preview Of Our Work Before And After Cleaning

In [73]:
print("\n                    OVERVIEW OF OUR DATA BEFORE CLEANING:\n")
df_before_cleaning.head()

                    OVERVIEW OF OUR DATA BEFORE CLEANING:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [72]:
print("\n                    OVERVIEW OF OUR DATA AFTER CLEANING:\n")
df.head()

                    OVERVIEW OF OUR DATA AFTER CLEANING:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Year,Month,Day,Weekday,Hour,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1,Wednesday,8,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,Wednesday,8,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,1,Wednesday,8,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,Wednesday,8,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,Wednesday,8,20.34

In [ ]:
# Save to CSV for use in the next phase (Exploratory Data Analysis)
df.to_csv("C:/Users/DELL/Desktop/PYTHON-FILES/EXCEL DATAS/Online Retail data & PROJECT/Cleaned_Online-retail-Data.csv", index=False)

====================================================================================================

## üíº Business Justification

### Why This Cleaning Approach?
- **Duplicate Removal**: Prevents revenue double-counting in financial reports
- **Missing Value Treatment**: Ensures customer analytics accuracy
- **Data Type Optimization**: Improves computational efficiency for large-scale analysis

### Expected Business Outcomes:
- Accurate customer segmentation for marketing campaigns
- Reliable inventory turnover analysis
- Precise seasonal trend identification

## üìùSummary table
| Task | Description | 
|----------|----------|
| 1. Loaded raw data | Used pandas.read_csv() with ‚Äòlatin1‚Äô encoding | 
| 2. Dropped duplicates | Removed 5,268 duplicate rows | 
| 3. Removed missing CustomerIDs | Dropped 135,037 rows with missing CustomerID | 
| 4. Removed invalid transactions | Filtered out rows with Quantity <= 0 or UnitPrice <= 0 | 
| 5. Removed cancelled orders | Filtered out InvoiceNo starting with 'C' | 
| 6. Converted datetime | Transformed InvoiceDate to datetime | 
| 7. Created time features | Extracted Year, Month, Day, Weekday, and Hour | 
| 8. Created revenue feature | Added TotalPrice = (Quantity * UnitPrice) | 
| 9. Verified missing values | 0 nulls remain in the final dataset | 
| 10. Reset index | Ensured clean DataFrame indexing | 
| **Final Dataset Stats:** | | 
| **Metric** | **Value** | 
| i. Rows Before | 541,909 | 
| ii. Rows After | 392,677 | 
| iii. Columns Before | 8 | 
| iv. Columns After | 14 | 
| v.	Nulls Remaining | 0 | 


**Ready for Analysis:__*

====================================================================================================

## üí°Challenges and Solutions Based on Phase 1 & 2:
- During the data cleaning process of online retail transactional data, I identified several non-product items that required strategic handling rather than simple removal.

## Challenge 1: Data Quality Assessment - Country Field
- Found 241 records (0.06% of dataset) with "Unspecified" country
- Analysis approach:
  1. Investigated CustomerID patterns
  2. Checked for geographic clustering
  3. Applied business logic for imputation

- **Decision:** Applied business logic for imputation by renaming to 'Missing'
- **Impact:** Retained valuable transaction data while addressing quality issues
  
## Challenge 2: Carriage Costs as Line Items
- **"CARRIAGE, NEXT DAY CARRIAGE, POSTAGE AND DOTCOM POSTAGE"** appeared as separate transactions
- Represented shipping/delivery charges, not products
- Initial instinct was to remove them as "dirty data"
- Could skew product analysis if included incorrectly

- **Decision:**
Solution Implemented:
- Categorization: Classified as shipping costs, not products

- **Impact:** Marketing teams can better understand which products drive sales versus which shipping options customers prefer

## Challenge 3: Bank Charges in Transaction Data
- I Found 12 records (0.003% of dataset) "BANK CHARGES" entries in the description field
- These represented payment processing fees, not actual products

- **Decision:** Removing them ensures our analysis focuses only on revenue-generating transactions.
- **Impact:** Maintains data integrity for revenue and product performance analysis

###                                                                    Thank you!